.footer {
  background-color: rgb(1, 144, 64);
  /* background-image: url("https://trulexmart.com/themes/shofy/images/newsletter/shape-1.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-blend-mode: overlay;
}
