<section
  class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
>
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative"
  >
    <a
      href="#"
      class="inline-flex justify-between items-center py-1 px-1 pe-4 mb-7 text-sm text-green-700 bg-green-100 rounded-full"
    >
      <span
        class="text-xs bg-green-600 rounded-full text-white px-4 py-1.5 me-3"
        >New</span
      >
      <span class="text-sm font-medium">Join trulexmart as a vendor!</span>
      <svg
        class="w-2.5 h-2.5 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"
        />
      </svg>
    </a>
    <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
      <h1
        class="mb-4 hd text-4xl font-serif font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        We invest in the world’s potential
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200"
      >
        Here at Flowbite we focus on markets where technology, innovation, and
        capital can unlock long-term value and drive economic growth.
      </p>
    </div>
    <div class="flex items-center justify-center lg:order-2">
      <a
        href="#"
        class="text-white sm:block bg-green-600 hover:bg-green-300 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2"
        >Explore now</a
      >
      <a
        href="#"
        class="text-green-600 bg-transparent border hover:text-white border-green-800 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2"
        >Get started</a
      >
    </div>
    <div>
      <div class="mt-8">
        <img
          src="/assets/Screenshot (98).png"
          alt="vendors dashboard"
          class="rounded-md w-full imgDec sm:h-3/6 object-cover"
          data-aos="zoom-in-down"
        />
      </div>
    </div>
  </div>
</section>
