<section class="bg-green-500 m-6 rounded-lg">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h2
        class="mb-4 text-2xl sm:text-4xl tracking-tight font-extrabold leading-tight text-white"
      >
        Start your free trial today
      </h2>
      <p class="mb-6 font-bold text-white md:text-lg">
        Try Flowbite Platform for 30 days. No credit card required. Try Flowbite
        Platform for 30 days. No credit card required.
      </p>
      <a
        href="#"
        class="text-black bg-yellow-300 hover:bg-yellow-800 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-yellow-600 dark:hover:bg-yellow-700 focus:outline-none dark:focus:ring-yellow-800"
        >Free trial for 30 days</a
      >
    </div>
  </div>
</section>
